---
import { Image } from "astro:assets";
import { Section } from "astro-orbit/components";
import ecosystemImg from "./ecosystem-desktop.png";
---

<Section
  title="Delta Sharing Ecosystem"
  padding="xxxl"
  isHeaderCentered
  className="bg-white"
>
  <Image src={ecosystemImg} alt="ecosystem" class="w-full" loading="lazy" />
</Section>
