---
import { Image } from "astro:assets";
import Section from "../../ui/Section.astro";
import ecosystemImg from "./ecosystem-desktop.png";
---

<Section
  title="Delta Sharing Ecosystem"
  padding="none"
  className="bg-white py-xxxl"
  isHeaderCentered
>
  <Image src={ecosystemImg} alt="ecosystem" class="w-full" loading="lazy" />
</Section>
