---
import { mapKeys } from "@utils/mapKeys";
import { Image } from "astro:assets";
import Section from "../../../../lib/delta-theme/components/Section.astro";
import diagram from "./delta-uniform-hero-v5.png";

interface Props {
  offsets: {
    sm: string;
    md: string;
    lg: string;
    xl: string;
  };
}
const { offsets } = Astro.props;

const offsetCssVars = mapKeys(offsets, (size) => `offset-${size}`);
---

<Section className="section">
  <div class="diagram-container">
    <a href="/integrations">
      <Image src={diagram} alt="Delta Lake Integrations" loading="eager" />
    </a>
  </div>
</Section>
<style define:vars={offsetCssVars}>
  .section {
    padding-top: 0;
    padding-bottom: var(--spacing-xxxl);
  }

  .diagram-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .diagram-container img {
    width: 100%;
    height: auto;
    display: block;
  }

  @media (min-width: 576px) {
    .diagram-container {
      margin-top: calc(-1 * var(--offset-sm));
    }
  }

  @media (min-width: 768px) {
    .diagram-container {
      margin-top: calc(-1 * var(--offset-md));
    }
  }

  @media (min-width: 992px) {
    .diagram-container {
      margin-top: calc(-1 * var(--offset-lg));
    }
  }

  @media (min-width: 1200px) {
    .diagram-container {
      margin-top: calc(-1 * var(--offset-xl));
    }
  }
</style>
