---
import clsx from "clsx";
import type { ComponentProps } from "astro/types";
import { getImage } from "astro:assets";
import Section from "../../../lib/delta-theme/components/Section.astro";
import bgDesktopImg from "./bg-desktop.jpg";
import bgMobileImg from "./bg-mobile.jpg";

type Props = ComponentProps<typeof Section>;

const bgDesktopResolved = await getImage({ src: bgDesktopImg });
const bgMobileResolved = await getImage({ src: bgMobileImg });

const bgDesktop = `url(${bgDesktopResolved.src})`;
const bgMobile = `url(${bgMobileResolved.src})`;

const { className, ...props } = Astro.props;
---

<div>
  <Section {...props} className={clsx("section", className)}>
    <Fragment slot="before-header">
      <slot name="before-header" />
    </Fragment>
    <Fragment slot="subtitle">
      <slot name="subtitle" />
    </Fragment>
    <slot />
  </Section>
</div>

<style define:vars={{ bgDesktop, bgMobile }}>
  :where(div) {
    background-color: var(--color-dark-bg);
    color: var(--color-dark-color);
    background-image: var(--bgMobile);
    background-size: cover;
    background-position: 50%;
  }

  /* Removed div a rule to allow description-link and hero-link classes to work properly */

  @media (min-width: 576px) {
    :where(div) {
      background-image: var(--bgDesktop);
    }
  }
</style>
