---
/*
 * Blog authors index page template
 *
 * Lists all of the blog authors.
 */
import { getCollection } from "astro:content";
import { Section } from "astro-orbit/components";
import Typography from "../../components/ui/Typography.astro";
import Layout from "../../layouts/Layout.astro";

const profiles = await getCollection("profiles");

// Sort alphabetically
profiles.sort((a, b) => a.data.name.localeCompare(b.data.name));
---

<Layout title="Profiles">
  <Section padding="none" className="py-xxl" title="Profiles">
    <Typography variant="ul">
      {
        profiles.map((profile) => (
          <li>
            <a href={`/profiles/${profile.id}`}>{profile.data.name}</a>
          </li>
        ))
      }
    </Typography>
  </Section>
</Layout>
