---
import Image from "astro/components/Image.astro";
import { Grid, Section, Typography } from "astro-orbit/components";
import TwitchLogo from "../../assets/twitch-logo.svg";
import profileImg from "./Tyler-Croy-min.jpg";
---

<Section padding="xl" isHeaderCentered className="bg-white">
  <Grid
    columns={{
      xs: ["60px", "auto"],
      md: ["60px", "auto", "60px"],
      xl: ["120px", "auto", "120px"],
    }}
    className="gap-8 xl:items-center xl:justify-between"
  >
    <a href="https://www.twitch.tv/agentdero" target="_blank">
      <Image
        src={profileImg}
        alt="R. Tyler Croy"
        width="120"
        loading="lazy"
        class="max-xl:w-[60px]"
      />
    </a>
    <Typography variant="prose" className="twitch-section-text">
      <h3 class="font-normal">
        Watch Delta Rust code development LIVE on Twitch.tv!
      </h3>
      <p class="text-h4 font-normal">
        with <a href="https://www.twitch.tv/agentdero" target="_blank"
          >R. Tyler Croy (agentdero)</a
        >, Delta Lake maintainer,<br />Director of Platform Engineering, Scribd
      </p>
    </Typography>
    <a
      href="https://www.twitch.tv/agentdero"
      target="_blank"
      class="max-md:hidden"
    >
      <Image
        src={TwitchLogo}
        alt="Twitch Logo"
        width="120"
        loading="lazy"
        class="max-xl:w-[60px]"
      />
    </a>
  </Grid>
</Section>

<style>
  .twitch-section-text {
    color: rgb(0, 38, 56);
    font-weight: 400;
    line-height: 1.5;
    font-family: var(--font-family-default);
  }

  .twitch-section-text h3 {
    font-weight: 400;
    line-height: 1.5;
    color: rgb(0, 38, 56);
    margin-top: 0;
  }

  .twitch-section-text p {
    font-weight: 400;
    line-height: 1.5;
    color: rgb(0, 38, 56);
    font-size: var(--font-size-h4);
  }

  .twitch-section-text p a {
    color: var(--color-link);
    text-decoration: underline;
  }

  .twitch-section-text p a:hover {
    text-decoration: underline;
    color: var(--color-link);
  }
</style>
