---
import { getCollection } from "astro:content";
import { Section } from "astro-orbit/components";
import ImageStrip from "../ImageStrip.astro";

const posts = await getCollection("blog");

const latestBlogs = posts
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime())
  .slice(0, 5)
  .map((post) => {
    return {
      title: post.data.title,
      thumbnail: post.data.thumbnail,
      url: `/blog/${post.id}`,
    };
  });
---

<Section
  title="The Latest"
  titleSize="h2"
  isHeaderCentered
  padding="xxxl"
  className="section"
>
  <ImageStrip items={latestBlogs} />
</Section>
<style>
  .section {
    background-color: var(--color-light-bg);
  }
</style>
