---
import { Image } from "astro:assets";
import Grid from "../../../../lib/delta-theme/components/Grid.astro";
import Section from "../../../../lib/delta-theme/components/Section.astro";
import Typography from "../../../../lib/delta-theme/components/Typography.astro";
import uniFormImg from "./delta-uniform.jpg";
---

<Section padding="xxl" className="section">
  <Grid columns={{ xs: 1, md: ["18%", "1fr"] }} className="grid">
    <div>
      <Image src={uniFormImg} alt="UniForm" class="image" loading="eager" />
    </div>
    <Typography variant="prose" className="text">
      <h3>
        Delta Universal Format (UniForm)
        <br />
        allows you to read Delta tables with Iceberg and Hudi clients
      </h3>
      <p>
        <a
          target="_blank"
          href="https://docs.delta.io/latest/delta-uniform.html#requirements"
          class="uniform-link no-underline hover:underline">Requirements</a
        >
        <a
          target="_blank"
          href="https://docs.delta.io/latest/delta-uniform.html#enable-delta-lake-uniform"
          class="uniform-link no-underline hover:underline">Enable UniForm</a
        >
      </p>
    </Typography>
  </Grid>
</Section>
<style>
  .section {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .grid {
    gap: 50px;
    align-items: center;
  }

  .image {
    width: 70%;
    margin: 0 auto;
  }

  .text h3 {
    font-weight: normal;
  }

  .text p {
    font-size: var(--font-size-h4);
  }

  /* Uniform links: white color, no underline by default, underline on hover */
  .text .uniform-link {
    color: var(--color-white);
  }

  .text a + a:before {
    content: "|";
    display: inline-block;
    margin-left: var(--spacing-sm);
    margin-right: var(--spacing-sm);
  }

  @media (min-width: 576px) {
    .image {
      width: 100%;
    }
  }
</style>
