---
import { Image } from "astro:assets";
import { Button, Section, Typography } from "astro-orbit/components";
import dldgCoverImg from "./dldg-cover.jpg";
import downloadArrowImg from "./download-arrow.png";
---

<Section className="section">
  <div class="download-wrap">
    <div class="download-img-item">
      <Image src={dldgCoverImg} alt="The Definitive Guide" loading="lazy" />
    </div>
    <Typography variant="prose" className="download-text-item">
      <h3>Delta&nbsp;Lake: The Definitive Guide</h3>
      <p>
        Building modern data lakehouse architectures with Delta Lake with
        forewords by Michael Armbrust and Dominique Brezinski.
      </p>
      <Button
        href="/pdfs/dldg_databricks.pdf"
        variant="primary"
        isDownload
        className="download-cta white-button"
        >Download <Image src={downloadArrowImg} alt="" loading="lazy" /></Button
      >
    </Typography>
  </div>
</Section>
<style>
  .section {
    padding: 50px 0;
  }

  .download-wrap {
    background: var(--color-bg-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark-color);
    padding: 48px 30px;
    border-radius: 5px;
    flex-direction: column;
  }

  .download-img-item {
    max-width: 175px;
    width: 100%;
    margin-bottom: 38px;
  }
  .download-img-item img {
    width: 100%;
  }

  .download-text-item {
    text-align: center;
  }
  .download-text-item p {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    line-height: var(--line-height-header);
    opacity: 0.8;
  }

  a.download-cta.button-size-sm,
  a.download-cta.button-size-md,
  button.download-cta.button-size-sm,
  button.download-cta.button-size-md {
    display: inline-flex !important;
    align-items: center;
    gap: var(--spacing-xs);
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .download-wrap {
      flex-direction: row;
    }

    .download-img-item {
      flex-basis: 50%;
      margin-right: 70px;
      margin-bottom: 0;
    }

    .download-text-item {
      text-align: left;
      flex-basis: 50%;
    }
  }
</style>
