---
import { Section } from "astro-orbit/components";
import Icon from "./ui/Icon.astro";
import Typography from "./ui/Typography.astro";

interface Props {
  title: string;
  description: string;
  url: string;
}

const { title, description, url } = Astro.props;
---

<Section padding="sm" className="section">
  <Typography variant="prose">
    <p class="text">
      <a href={url} class="announcement-link">
        <strong>{title}:</strong>
        {description}
        <Icon icon="more" alt="" className="icon" />
      </a>
    </p>
  </Typography>
</Section>
<style>
  .section {
    background-color: var(--color-accent);
    text-align: center;

    .announcement-link {
      color: #000;
      text-decoration: none;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
