---
import { config } from "virtual:config";
import { Image } from "astro:assets";
import Section from "./ui/Section.astro";
import type { MenuItem } from "./ui/types";
import Menu from "./ui/Menu/Menu.astro";
import Grid from "./ui/Grid.astro";
import Typography from "./ui/Typography.astro";
import LinuxFoundationLogo from "./ui/assets/the-linux-foundation-projects.svg";
import DeltaLogo from "./assets/delta-lake-logo.svg";

interface FooterMenu {
  title: string;
  menu: MenuItem[];
}

const menus: FooterMenu[] = [
  {
    title: "Delta Lake",
    menu: config.menus.footerMain,
  },
  {
    title: "Learn",
    menu: config.menus.footerLearn,
  },
  {
    title: "Community",
    menu: config.menus.footerCommunity,
  },
  {
    title: "Social Channels",
    menu: config.menus.social,
  },
];
---

<footer class="text-darkTextSecondary">
  <Section padding="xl" className="bg-darkBg text-darkColor">
    <Grid
      columns={{ xs: 1, lg: ["133px", "auto", "250px"] }}
      className="gap-y-6 lg:gap-x-8"
    >
      <div>
        <Image
          src={DeltaLogo}
          alt="Delta Lake"
          width="133"
          height="28"
          loading="lazy"
        />
      </div>
      <div>
        <Grid columns={{ xs: 1, lg: menus.length }} className="gap-y-6">
          {
            menus.map(({ title, menu }) => (
              <div>
                <div class="font-bold uppercase mb-3">{title}</div>
                <Menu
                  items={menu}
                  itemClassName="text-white"
                  menuClassName="gap-2"
                />
              </div>
            ))
          }
        </Grid>
      </div>
      <div>
        <Typography variant="p2" className="mb-4">
          Copyright © {new Date().getFullYear()} Delta Lake, a series of LF Projects,
          LLC. For web site terms of use, trademark policy and other project polcies
          please see{" "}
          <a href="https://lfprojects.org" target="_blank">
            https://lfprojects.org
          </a>.
        </Typography>
        <Image
          src={LinuxFoundationLogo}
          alt="The Linux Foundation"
          width="100"
          loading="lazy"
        />
      </div>
    </Grid>
  </Section>
</footer>
