---
import { Image } from "astro:assets";
import { Button, Grid, Section, Typography } from "astro-orbit/components";
import separateStorageImg from "./separate-storage.jpg";
import streamTableStorageImg from "./stream-table-storage.jpg";
---

<Section
  title="Read the Lakehouse Storage Systems Whitepapers"
  isHeaderCentered
  padding="xxxl"
>
  <Typography variant="prose" slot="subtitle">
    <p>
      These whitepapers dive into the features of Lakehouse storage systems and
      compare Delta Lake, Apache Hudi, and Apache Iceberg. They also explain the
      benefits of Lakehouse storage systems and show key performance benchmarks.
    </p>
    <Button
      href="http://cidrdb.org/cidr2021/papers/cidr2021_paper17.pdf"
      variant="primary"
      className="white-button"
    >
      Read the whitepaper
    </Button>
  </Typography>
  <Grid columns={{ xs: 1, md: 2 }} className="grid">
    <Typography variant="prose" className="whitepaper-column">
      <a
        href="https://www.cidrdb.org/cidr2023/papers/p92-jain.pdf"
        class="whitepaper-link"
      >
        <span> Analyzing and Comparing Lakehouse Storage Systems </span>
        <Image src={separateStorageImg} alt="" loading="lazy" />
      </a>
    </Typography>
    <Typography variant="prose" className="whitepaper-column">
      <a
        href="https://www.cidrdb.org/cidr2021/papers/cidr2021_paper17.pdf"
        class="whitepaper-link"
      >
        <span>
          Lakehouse: A New Generation of Open Platforms that Unify Data
          Warehousing and Advanced Analytics
        </span>
        <Image src={streamTableStorageImg} alt="" loading="lazy" />
      </a>
    </Typography>
  </Grid>
  <div class="link-wrapper">
    <Button
      href="https://dl.acm.org/doi/10.14778/3415478.3415560"
      variant="primary"
      className="white-button">Read the article</Button
    >
  </div>
</Section>
<style>
  .grid {
    gap: var(--spacing-xxl);
  }

  .whitepaper-column {
    text-align: center;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
  }

  .whitepaper-column a {
    text-decoration: none;
    transition: 0.4s;
    color: inherit;
  }
  .whitepaper-column a:hover {
    color: var(--color-link);
  }

  .whitepaper-column span {
    display: block;
    padding-bottom: 0.625rem;
    margin: 0;
    font-weight: 600;
  }

  .link-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
</style>
