---
import { Image } from "astro:assets";
import { Section, Typography } from "astro-orbit/components";
import chartImage from "./chart.png";
---

<Section padding="xl">
  <Typography
    variant="h4"
    className="chart-section-text font-normal text-center"
  >
    Because of the contributions from our amazing community, Delta Lake is now
    up to 20M monthly downloads! We&rsquo;re proud of the progress this project
    is making and invite you to get involved.{" "}
    <a href="https://github.com/delta-io">Get started</a> today.
  </Typography>
  <Image
    src={chartImage}
    alt="Delta Lake monthly downloads chart"
    class="mx-auto"
  />
</Section>

<style>
  .chart-section-text {
    font-weight: 400;
    line-height: 1.2;
    color: rgb(0, 38, 56);
    font-size: 1.5625rem;
    margin-top: 1.5rem;
    margin-bottom: 1.875rem;
    text-align: center;
  }

  .chart-section-text a {
    color: var(--color-link);
    text-decoration: underline;
  }

  .chart-section-text a:hover {
    text-decoration: underline;
    color: var(--color-link);
  }
</style>
