---
import type { MarkdownLayoutProps } from "astro";
import { Section } from "astro-orbit/components";
import Typography from "../components/ui/Typography.astro";
import Layout from "./Layout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description?: string;
}>;

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <Section padding="none" className="bg-white py-xxl">
    <h1>{frontmatter.title}</h1>
    <Typography variant="prose">
      <slot />
    </Typography>
  </Section>
</Layout>
